---
- name: Start mongodb on boot
  become: true
  systemd:
    name: mongod
    state: started
    enabled: yes


- name: restart mongod
  become: true
  service:
    name: mongod
    state: restarted

