.btn-create,
.save,
.add-project {
	background-color: #3c8dbc;
    padding: 10px;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease;

    &:hover {
    	background-color: #367fa9;
    	color: #ffffff;
    }
}

.check {
    width: 40px;
}

.form-horizontal {
    .control-label {
        text-align: left;
    }
}

/* Project Form */

.save,
.add-project {
    margin-right: 20px;
    border: none;
    width  : 150px;
}

.add-project {
    margin-right: 20px;
}