<!DOCTYPE html>
<html>
<head>
	<title>Self Service Portal | To The New </title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
<br><br><br><br><br>
<p style="text-align: center;">You have been successfully logged out. See you again</p>
<p style="text-align: center;"><a href="{% url 'login' %}" class="myButton" >Login</a> </p>
<p style="text-align: center;"><a href="{% url 'index' %}" class="myButton" >Home</a> </p>

<p>&nbsp;</p>
</body>
</html>