{% extends "dashboard/sidebar.html" %}
{% load static %}
{% block content %}

        <div class="content">

            <div class="container-fluid">
                <div class="row">

                    <!--Entering host info card-->
                    <div class="col-md-4" >
                        <div class="card">
                            <div class="header">
                                <h4 class="title" align="center"><b>Hosts Information</b></h4>
                            <br>
                            <form action="" method="POST" id="HostForm">
                                {% csrf_token %}
                                <center>
                            <label>Host Identifier :</label><input type="text" name="hostIdentifier"><br>
                            <label>Host IP address :</label><input type="text" name="hostIp"><br>
                            <label>Host's username :</label><input type="text" name="hostUsername"><br>
                            <label>Host's password :</label><input type="password" name="hostPassword"><br><br>
                            <input type="submit" value="Add Host"/></center>
                            </form>
                            </div>
                        </div>
                        </div>           
                </div>
            </div>
       

                <div class="container-fluid">
                    <div class="row">
    
                        <!--Add host card-->                                
                    {% for host in hosts %}
                    <div class="col-md-4" style="cursor: pointer;">
                        <div class="card">
                            <div class="header">
                                
                                    <p class="category"></p>
                                    
                                    <br>
                                    <i class="fa fa-circle text-info"></i> Host Identifier : {{ host.hostIdentifier }} <br>
                                    <i class="fa fa-circle text-info"></i> Host IP address : {{ host.hostIp }} <br>
                                    <i class="fa fa-circle text-info"></i> Host Username : {{ host.hostUsername }}<br>
                                    <i class="fa fa-circle text-info"></i> Host Password : {{ host.hostPassword }}<br>
                                    <i class="fa fa-circle text-info"></i> Status : {{ host.status }}<br>
                                    <br>                                    
                                    <input type="submit" value="Approve" onclick="window.location='{% url "hostadded" host.id %}';" name="hostadded" >
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                                </div>
                            </div> 
                            </div>
                            
                    </div>
                </div>
            </div>

        </div>


        <!--<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>-->

{% endblock %}

      
