{% extends "dashboard/detailformside.html" %}
                         {% block content %}
                                <center>
                               <div class="row">
                            
                               <div class="col-md-12" >
                              
                                <div class="card">
                                 
                                    <div class="header">
                                        
                                        <h5 class="title"><b>Build Details</b></h5>
                                            <br>
                                            


                                            <p class="category"></p>
                                            <br>
                                            
                                            <i class="fa fa-circle text-info"></i> Creating Mysql Directories&nbsp: True <br>
                                <i class="fa fa-circle text-info"></i> Creating Mongo Directories &nbsp: True <br><i class="fa fa-circle text-info"></i> Creating Code Directories: True <br><br><br><br></div></div></div></div></center>{% endblock %}