{% extends "dashboard/sidebar.html" %}

{% block content %} 
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    
                         
                            <div class="col-md-4" >
                                <div class="card">
                                    <div class="header">
                                        
                                        <h5 class="title"><b>Basic Details</b></h5>
                                            <br>
                                            


                                            <p class="category"></p>
                                            <br>
                                            <i class="fa fa-circle text-info"></i> Requester: {{ posts.requester }} <br>
                                            <i class="fa fa-circle text-info"></i> Project Name: {{ posts.project_name }} <br>
                                            <i class="fa fa-circle text-info"></i> Application Name: {{ posts.application_name }}<br>
                                            <i class="fa fa-circle text-info"></i> Environment Type: {{ posts.enytype }} <br>
                                            <i class="fa fa-circle text-info"></i> Git Url: {{ posts.git_url }}<br>
                                            <i class="fa fa-circle text-info"></i> Status: {{ posts.status }} <br>
                                            <br><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="card">
                                    <div class="header">
                                        
                                        <h5 class="title"><b>PHP-Nginx Details</b></h5>
                                            <br>
                                            


                                            <p class="category"></p>
                                            <br>
                                            <i class="fa fa-circle text-info"></i> Ubuntu Version: {{ posts.UBUNTU_VERSION }} <br>
                                            <i class="fa fa-circle text-info"></i> Php Version: {{ posts.PHP_VERSION }} <br>
                                            <i class="fa fa-circle text-info"></i> Php Modules: {{ posts.PHP_MODULES }}<br>
                                            <i class="fa fa-circle text-info"></i> Backend Host Value: {{ posts.NGINX_BACKEND_HOST_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Nginx Server Name: {{ posts.NGINX_SERVER_NAME_VALUE }}<br>
                                            <i class="fa fa-circle text-info"></i> Server Root Value: {{ posts.NGINX_SERVER_ROOT_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Static Content Log Value: {{ posts.NGINX_STATIC_CONTENT_ACCESS_LOG_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Static Content Expires Value: {{ posts.NGINX_STATIC_CONTENT_EXPIRES_VALUE }} <br>
                                           
                                            <br><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="card">
                                    <div class="header">
                                        
                                        <h5 class="title"><b>MySql Details</b></h5>
                                            <br>
                                            


                                            <p class="category"></p>
                                            <br>
                                            <i class="fa fa-circle text-info"></i> MySql Version: {{ posts.mysql_version }} <br>
                                            <i class="fa fa-circle text-info"></i> Database Name Value: {{ posts.MYSQL_DATABASE_NAME_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Root Password Value: {{ posts.MYSQL_ROOT_PASSWORD_VALUE }}<br>
                                            <i class="fa fa-circle text-info"></i> Mysql UserName: {{ posts.MYSQL_USER_NAME_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Mysql Password Value: {{ posts.MYSQL_PASSWORD_VALUE }}<br>
                                            <i class="fa fa-circle text-info"></i> Port Value: {{ posts.MYSQL_PORT_VALUE }} <br>
                                            <br><br>
                                    </div>
                                </div>
                            </div>
                           
                     
                </div>

                <div class="row">
                        <div class="col-md-4" >
                                <div class="card">
                                    <div class="header">
                                        
                                        <h5 class="title"><b>Varnish & Redis Details</b></h5>
                                            <br>
                                            


                                            <p class="category"></p>
                                            <br>
                                            <i class="fa fa-circle text-info"></i> Varnish Version: {{ posts.varnish_version }} <br>
                                            <i class="fa fa-circle text-info"></i> Backend Host Value: {{ posts.VARNISH_BACKEND_HOST_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Backend Port Value: {{ VARNISH_BACKEND_PORT_VALUE }}<br>
                                            <i class="fa fa-circle text-info"></i> Varnish Port Value: {{ posts.VARNISH_PORT_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Redis Version: {{ posts.redis_version }}<br>
                                            <i class="fa fa-circle text-info"></i> Redis Password Value: {{ posts.REDIS_PASSWORD_VALUE }} <br>
                                            <br><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" >
                                <div class="card">
                                    <div class="header">
                                        
                                        <h5 class="title"><b>Mongo DB Details</b></h5>
                                            <br>
                                            


                                            <p class="category"></p>
                                            <br>
                                            <i class="fa fa-circle text-info"></i> Mongo DB Version: {{ posts.mongo_version }} <br>
                                            <i class="fa fa-circle text-info"></i> Database Name: {{ posts.MONGO_INITDB_DATABASE_VALUE }} <br>
                                            <i class="fa fa-circle text-info"></i> Mongo DB Root UserName: {{ posts.MONGO_INITDB_ROOT_USERNAME_VALUE }}<br>
                                            <i class="fa fa-circle text-info"></i> Mongo DB Root Password: {{ posts.MONGO_INITDB_ROOT_PASSWORD_VALUE}} <br>
                                            <i class="fa fa-circle text-info"></i> Mongo DB Port: {{ posts.MONGO_PORT_VALUE }}<br>
                                            <br><br>
                                    </div>
                                </div>
                            </div>
                    </div>
                
                    
                        
                    </div>    
            </div>
        </div>


        <!--<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>-->

        {% endblock %}
