<html>
<table width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="border:2px solid #999999">
    <tbody>
        <tr>
            <td style="border:none">
                <table width="100%" height="100%" bgcolor="#1cc09f" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td width="2%"></td>
                            <td style="color:#ffffff;font-family:open sans;line-height:20px;font-size:17px" width="90%">
                                Congratulations! Your requested stack is up now. Find below Details:
                            </td>

                        </tr>
                        <tr>
                            <td height="10"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width:100%;border:none">
                <table border="0" height="60" align="left" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="2%"></td>
                            <td style="color:#999999;font-family:open sans;line-height:16px;font-size:17px">
                                <h4>Hi {{ uname }},</h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="30"></td>
                            <td style="color:#999999;font-family:open sans;line-height:20px;font-size:18px">
                                You can access your website at {{ projectname }}-{{appname}}.tothenew.tk
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td style="border:none">
                <table width="100%" bgcolor="#f3f3f4" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="2%"></td>
                            <td>
                                <table border="0" style="width:100%" align="left" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" style="width:100%">

                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table border="0" align="left" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="4" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Project Name</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Application Name</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Git Url</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Git Token</td>
                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"> {{ projectname }}</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ appname }}</td>

                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ git_url }}</td>
                                                                            <td width="3%"></td>

                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ git_token }}</td>
                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Server Credentials</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">

                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="8" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Host Ip</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Username</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Password</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Port</td>
                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"> {{ hostIp }}</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ projectname }}</td>

                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">ansiblepass</td>
                                                                            <td width="3%"></td>

                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">22</td>
                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Container SSH Credentials</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">

                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="8" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Username</td>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Password</td>
                                                                            <td width="3%"></td>
                                                                            
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:13px"> root</td>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:13px">admin@123</td>
                                                                            


                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
<tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Containers</td>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">SSH Command</td>
                                                                            <td></td>
                                                                        </tr>

                                                                        

                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="8" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
{% if nginxport != 'false' %}                                                                     
<tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Nginx-Php</td>
                                                                            <td width="3%"></td>
                                                                            <td width="51%" style="color:#686c6d;font-family:open sans;font-size:14px">ssh root@{{ hostIp }} -p {{ nginxport }}</td>
                                                                            <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>

                                                                        </tr>
                                                                        {% endif %}
{% if varnishport != 'false' %}                                                                         
<tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Varnish</td>
                                                                            <td width="3%"></td>
                                                                            <td width="51%" style="color:#686c6d;font-family:open sans;font-size:14px">ssh root@{{ hostIp }} -p {{ varnishport }}</td>
                                                                            <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>

                                                                        </tr>
                                                                        {% endif %}

{% if redisport != 'false' %}
<tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Redis</td>
                                                                            <td width="3%"></td>
                                                                            <td width="51%" style="color:#686c6d;font-family:open sans;font-size:14px">ssh root@{{ hostIp }} -p {{ redisport }}</td>
                                                                            <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>

                                                                        </tr>
                                                                        {% endif %}

{% if mysqlport != 'false' and mysqlflag != 'true' %}
<tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">MySQl</td>
                                                                            <td width="3%"></td>
                                                                            <td width="51%" style="color:#686c6d;font-family:open sans;font-size:14px">ssh root@{{ hostIp }} -p {{ mysqlport }}</td>
                                                                            <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>

                                                                        </tr>
                                                                        {% endif %}
{% if mongoport != 'false' and mongoflag != 'true' %}
<tr>
                                                                            <td width="3%"></td>
                                                                            <td width="31%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mongo DB</td>
                                                                            <td width="3%"></td>
                                                                            <td width="51%" style="color:#686c6d;font-family:open sans;font-size:14px">ssh root@{{ hostIp }} -p {{ mongoport }}</td>
                                                                            <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>

                                                                        </tr>
                                                                        {% endif %}

                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%"></td>
                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                                <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Legacy Information</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">

                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="8" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Legacy Ip</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mysql Database</td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mongo Database</td>
                                                                            
                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"> {{ LegacyHost }}</td>
                                                                            
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ mysqlDb }}</td>

                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ mongoDb }}</td>
       
                                                                            <td></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="2%"></td>
                                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                                            <td width="3%"></td>
                                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="6" height="10px"></td>
                                                                        </tr>
                                                                        <tr>
                                                            <td width="2%"></td>
                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">DB Credentials</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">

                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="8" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mysql Username</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mysql Password</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mongo Username</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Mongo Password</td>
                                                            <td></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="12" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"> {{ mysqluname }}</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ mysqlupwd }}</td>

                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ mongouname }}</td>
                                                            <td width="3%"></td>

                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ mongoupwd }}</td>
                                                            <td></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="12" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%"></td>
                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="2%"></td>
                                                            <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">

                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" height="10px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="height:1px;background:#e7eaec"></td>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                        </td>
                                        </tr>

                                        </tbody>
                                        </table>
                                        </td>
                                        <td width="10"></td>
                        </tr>
                        </tbody>
                        </table>
                        </td>
        </tr>

        </tbody>
        </table>
        </td>
        </tr>

        <tr>
            <td align="center" style="border:none">
                <table bgcolor="f3f3f4" height="50" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="color:#686c6d;font-family:open sans;line-height:20px;font-size:15px;padding-left:5%">
                                <b>Note:</b>
                                <ul>
                                    <li>
                                        Use-><b> mysql -u {{ mysqluname}} -h {{LegacyHost}} -P {{ mysqlport1 }} -p </b> for connecting to mysql.
                                    </li>
                                    <li>
                                        Use-><b> mongo admin --username {{ mongouname }} --password {{ mongoupwd }} --host {{ LegacyHost }} --port {{ mongoport1 }} </b>for connecting to mongo.
                                    </li>
                                    <li>
                                        Visit S2P Portal for the complete details.
                                    </li>
                                    <li>
                                        To provide your feedback on S2P Portal, please write to <a href="mailto:pvats@tothenew.com" target="_blank">admin-S2P-pvats@tothenew.com</a>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#f3f3f4" width="100%">
                    <tbody>
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td width="2%"></td>
                            <td style="color:#999999;font-family:open sans;line-height:20px;font-size:17px">Thanks,
                                <br>S2P Team</td>
                        </tr>
                        <tr>
                            <td height="10"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    </tbody>
</table>

</html>
