<html>
<table width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="border:2px solid #999999">
    <tbody><tr>
        <td style="border:none">
            <table width="100%" height="100%" bgcolor="#1cc09f" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr><td height="10"></td></tr>
                <tr>
                    <td width="2%"></td>
                    <td style="color:#ffffff;font-family:open sans;line-height:20px;font-size:17px" width="90%">
                        Notification: {{ notification }}
                    </td>
                   
                </tr>
                <tr><td height="10"></td></tr>
            </tbody></table>
        </td>
    </tr>
    <tr>
        <td style="width:100%;border:none">
            <table border="0" height="60" align="left" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td width="2%"></td>
                    <td style="color:#999999;font-family:open sans;line-height:16px;font-size:17px">
                        <h4>Hi {{ uname }},</h4>
                    </td>
                </tr>
                <tr>
                    <td width="30"></td>
                    <td style="color:#999999;font-family:open sans;line-height:20px;font-size:18px">
                        {{ mesg }}
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td style="border:none">
            <table width="100%" bgcolor="#f3f3f4" border="0" align="left" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td width="2%"></td>
                    <td>
                        <table border="0" style="width:100%" align="left" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td>
                                    <table border="0" align="left" cellpadding="0" cellspacing="0" style="width:100%">

                                        <tbody><tr>
                                            <td>
                                                <table border="0" align="left" cellpadding="0" cellspacing="0">
                                                    <tbody><tr><td colspan="8" style="height:1px;background:#e7eaec"></td></tr>
                                                    <tr><td colspan="4" height="10px"></td></tr>
                                                    <tr>
                                                        <td width="3%"></td>
                                                        <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Host Ip</td>
                                                        <td width="3%"></td>
                                                        <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Database Name</td>
                                                        <td width="3%"></td>
                                                        <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Username</td>
                                                        <td width="3%"></td>
                                                        <td width="14%" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Password</td>
                                                       
                                                    </tr>
                                                    

                                                        <tr><td colspan="12" height="10px"></td></tr>
                                                        <tr><td colspan="12" style="height:1px;background:#e7eaec"></td></tr>
                                                        <tr><td colspan="12" height="10px"></td></tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"> {{ hostip }}</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ dbname }}</td>

                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{ uname }}</td>
                                                            <td width="3%"></td>
                                                            <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">{{  upwd }}</td>
                                                            <td width="3%"></td>

                                                            
                                                        </tr>
                                                    
                                                    <tr><td colspan="12" height="10px"></td></tr>
                                                    <tr><td colspan="12" style="height:1px;background:#e7eaec"></td></tr>
                                                    <tr><td colspan="12" height="10px"></td></tr>
                                                    <tr>
                                                        <td width="2%"></td>
                                                        <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold"></td>
                                                        <td width="3%"></td>
                                                        <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px"></td>

                                                    </tr>

                                                    <tr><td colspan="6" height="10px"></td></tr>
                                                    <tr><td colspan="12" style="height:1px;background:#e7eaec"></td></tr>
                                                    <tr><td colspan="6" height="10px"></td></tr>
                                                    <tr>
                                                        <td width="2%"></td>
                                                        <td width="14%" colspan="7" style="color:#686c6d;font-family:open sans;font-size:14px;font-weight:bold">Current Status</td>
                                                        <td width="3%"></td>
                                                        <td width="14%" style="color:#686c6d;font-family:open sans;font-size:13px">
                                                            {{  status }}
                                                        </td>

                                                    </tr>
                                                    <tr><td colspan="4" height="10px"></td></tr>
                                                    <tr><td colspan="12" style="height:1px;background:#e7eaec"></td></tr>
                                                </tbody></table>
                                            </td>
                                        </tr>

                                    </tbody></table>
                                </td>
                                <td width="10"></td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>

            </tbody></table>
        </td>
    </tr>

    <tr>
    <td align="center" style="border:none">
        <table bgcolor="f3f3f4" height="50" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td style="color:#686c6d;font-family:open sans;line-height:20px;font-size:15px;padding-left:5%">
                    <b>Note:</b>
                    <ul>
                        <li>
                            MySQL Connect Command: <b> mysql -u {{ uname }} -h {{ hostip }} -P 3306 -p </b> 
                        </li>
                        <li>
                            Visit S2P Portal for the complete details.
                        </li>
                        <li>
                            To provide your feedback on S2P Portal, please write to <a href="mailto:pvats@tothenew.com" target="_blank">admin-S2P-pvats@tothenew.com</a>
                        </li>
                      
                    </ul>
                </td>
            </tr>
        </tbody></table>
    </td>
</tr>

<tr>
    <td>
        <table border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#f3f3f4" width="100%">
            <tbody><tr><td height="10"></td></tr>
            <tr>
                <td width="2%"></td>
                <td style="color:#999999;font-family:open sans;line-height:20px;font-size:17px">Thanks,<br>S2P Team</td>
            </tr>
            <tr><td height="10"></td></tr>
        </tbody></table>
    </td>
</tr>



</tbody></table>
</html>