{% if user.is_authenticated %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Self Service Portal | To The New
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS for regForm -->
    <link href="{% static "dashboard/assets/css/regForm.css" %}" rel="stylesheet"/>
    <!-- Bootstrap core CSS     -->
    <link href="{% static "dashboard/assets/css/bootstrap.min.css" %}" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="{% static "dashboard/assets/css/animate.min.css" %}" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static "dashboard/assets/css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static "dashboard/assets/css/demo.css" %}" rel="stylesheet" />

    <!--  CSS for add more button     -->
    <link href="{% static "dashboard/assets/css/addMore.css" %}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static "dashboard/assets/css/pe-icon-7-stroke.css" %}" rel="stylesheet" />

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="sidebar-wrapper">
          <div class="logo">

            <center>
                    <h4>MySql User Creation</h4>
                 </center>

            </div>
          <ul class="nav">
            <li>
              <a href="{% url "dashboard" %}">
                <i class="pe-7s-graph">
                </i>
                <p>Dashboard
                </p>
              </a>
            </li>
            <li>
              <a href="{% url "submittedmysql" user.email %}">
                      <i class="pe-7s-note2"></i>
                      <p>Submitted</p>
                  </a>
              </li>
    {% if perms.login.view_content %}
    <li>
                  <a href="{% url "forapprovalmysql" %}">
                      <i class="pe-7s-user"></i>
                      <p>For Approval</p>
                  </a>
              </li>
          <li>
                      <a href="{% url "approvedmysql" %}">
                          <i class="pe-7s-note2"></i>
                          <p>Approved</p>
                      </a>
                  </li>
        <li>
                          <a href="{% url "rejectedmysql" %}">
                              <i class="pe-7s-graph"></i>
                              <p>Rejected</p>
                          </a>
                      </li>
    {% endif %}

              </ul>
            </div>
      </div>
      <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
              </button>
              <a class="navbar-brand" href="#">Hi {{ user.username }} !
              </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'logout' %}">
                    <p>Log out
                    </p>
                  </a>
                </li>
                </ul>
                <li class="separator hidden-lg hidden-md">
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
        
        <!--Top card start-->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-md-8">
                <div class="card">

                    {% block content %}{% endblock %}



           <!-- Next and previous buttons -->
           <div style="overflow:auto;">
              <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous
                </button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next
                </button>
              </div>
            </div>
            
            
        </form>
      
    </div>
  </div>
</div>

<!--User card start-->
<div class="col-md-4">
  <div class="card card-user">
    <div class="image">
      <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    </div>
    <div class="content">
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src="{% static "dashboard/assets/img/faces/face-1.jpg" %}" halt="..."/>
          <h4 class="title">{{ user.first_name }} {{ user.last_name }}
            <br />
            <small>{{ user.username }}
            </small>
          </h4>
        </a>
      </div>
      <p class="description text-center"> {{ user.email }} 
        <br>
        To The New 
        <br>
        Noida, India 
        <br>
        <br>
        <b>Last Login 
        </b> : {{ user.last_login }}  
        <br>
        <b> Joined On 
        </b> : {{ user.date_joined }}
      </p>
    </div>
    <hr>
  </div>
</div>
<!--user card end-->

</div>
</div>
</div>
<!--Top card end-->            
</body>

<!-- Script for regForm -->
<script src="{% static "dashboard/assets/js/regForm.js" %}"></script>
<!-- <script src="{% static "dashboard/assets/js/regform1.js" %}"></script> -->

<script src="{% static "dashboard/assets/js/jquery-1.10.2.js" %}" type="text/javascript"></script>
<script src="{% static "dashboard/assets/js/bootstrap.min.js" %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static "dashboard/assets/js/bootstrap-checkbox-radio-switch.js" %}"></script>

<!--  Charts Plugin -->
<script src="{% static "dashboard/assets/js/chartist.min.js" %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static "dashboard/assets/js/bootstrap-notify.js" %}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{% static "dashboard/assets/js/light-bootstrap-dashboard.js" %}"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="{% static "dashboard/assets/js/demo.js" %}"></script>

<!-- JS file for add more button -->
<script src="{% static "dashboard/assets/js/addMore.js" %}"></script>

</html>
{% else %}
<a href="{% url 'login' %}">login
</a>
<br>
{% endif %}

